@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400..900&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hedvig+Letters+Serif:opsz@12..24&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400..900&family=Rubik+Burned&display=swap');

*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hedvig Letters Serif", serif;
letter-spacing: .13em;
}
body{
  position: relative;
  z-index: 0;
  /* background-image: url('../public/Images/trendy.png'); */
 /* background-image: url(https://img.freepik.com/premium-vector/trendy-seamless-pattern-alcohol-bottles-glasses-alcohol-drinks-isolated-black-background_951000-95.jpg); */
  opacity: 7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hedvig Letters Serif", serif;
  letter-spacing: .13em;
}
.homepage{
  background-color: rgba(0, 0, 0, 0.912);
  color: white;
}
.homepage-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 1%;
}
.cardbodyoo h5{
  font-size: 16px;
}
.cardbodyoo p{
  font-size: 14px;
}
.brrr a{
  text-decoration: none;
  color: black;
  transition: 0.5s ease-in-out;
}
.newarrival h2{
  text-decoration: underline;
  text-decoration-skip-ink: none; /* Prevents underlines from being drawn over glyphs */
  text-underline-offset: 12px;
}
.brrr a:hover{
  text-decoration: underline;
  text-decoration-skip-ink: none; /* Prevents underlines from being drawn over glyphs */
  text-underline-offset: 8px;
}
.cardbodyoo {
padding-left: 10px;
padding-top: 15px;
}
.callme{
  display: flex;
gap: 0.5rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.551); /* Semi-transparent black */
  z-index: 999; /* Ensure it's above other content */
}

.loader.show {
  display: block; /* Show when loading state is true */
}
.loader {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  position: fixed; /* Position fixed to keep it centered */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the spinner exactly */
  z-index: 1000; /* Ensure it's above other content */
  display: none; /* Initially hidden */
  animation: rotate 1s linear infinite;

}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 15px solid #000000;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  border-color: #FF3D00;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
.contactus h5,.contactus p{
  font-size: 12px;
}
.navigations ul{
  display: flex;
  list-style: none;

}
.navigations ul a{
  text-decoration: none;
  /* padding: 15px; */
  margin-right: 65px;
  color: rgb(255, 255, 255);
}
.homeimgone img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
margin-left: 33%;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #111111;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 41em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #575757a4;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  display: none;
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.displaycategories{
  /* display: flex;
  justify-content: center; */
text-align: center
;  gap: 12rem;
margin-top: 1%;
}
.displaycategories .viewcate{
margin-left: 48%;
}
.displaycategories a{
color: black;
line-height: 12px;
}
.displaymycateg{
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 5rem;
}
.displaymycateg button{
  border-radius: 20px;
  padding: 14px;

} 
.displaymycateg a{
text-decoration: none;
color: black;
padding: 30px;
}
.categname h2{
  text-align: center;
  margin-top: 2%;
}
.newarrival{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  gap: 46rem;
}
.newarrivalcontainer{
margin-bottom: 4%;
margin-top: 4%;
}
.cardcontainer{
  width: 300px;
  height: auto;
  border-radius: 30px;
 box-shadow: 5px 10px 13px #bebebe5f,
               -10px -5px 30px #ffffff56;
}
.cardcontainer2{
  width: 250px;
  height: auto;
  border-radius: 30px;
 box-shadow: 5px 10px 13px #bebebe5f,
               -10px -5px 30px #ffffff56;
}
.displaycardcontainer{
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.displaycardcontainer2{
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.zenbudha{
  position: relative; /* Ensure z-index works */
  z-index: 0; /* Lower z-index */
 
}
.cardcol img{
  width: 100%;
  height: 300px;
}
.cardcol2 img{
  width: 100%;
  height: 300px;
}
.newarrivalcontainer{
  margin-top: 7%;
}
.cardbody{
  margin-left: 10%;
}
.displayvector img{
  width: 80%;
  height: 12vh;
}
.displayvector p{
 font-size: 12px;
 text-align: center;
}
.aluta a{
  text-decoration: none;
  color: black;
}
.aluta{
  margin-top: 10%;
  justify-content: center;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 150px;
  transition: 0.5s ease-in-out;
}
.aluta:hover{
  background-color: black;
color: white;
border: 1px solid rgb(255, 255, 255);

}
.aluta a:hover{
  color: white;
}


.alluta a{
  text-decoration: none;
  color: black;
}
.alluta{
  justify-content: center;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 180px;
  transition: 0.5s ease-in-out;
}
.alluta:hover{
  background-color: black;
color: white;
border: 1px solid rgb(255, 255, 255);

}
.alluta a:hover{
  color: white;
}

.viewcate button{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.912);
  border: 1px solid;
  width: 150px;
  transition: 0.5s ease-in-out;
}
.viewcate button:hover{
background-color: black;
color: white;
}
.viewcate button a{
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.viewcate button a:hover{
  color: white;
}
.homeimgtwo{
  position: relative;
  width: 100%; /* Set the width of the container to 100% */
}
.homeimgtwo img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  /* opacity: 0.9; */
}
.wishyou{
  position: absolute;
  top: 32%; /* Position the text in the middle vertically */
  left: 48%; /* Position the text in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the text precisely */
  text-align: center;
  color: white;
  /* background-color: rgba(6, 6, 6, 0.689); 
padding: 20px;
border-radius: 18px; */
}
.wishyou h2{
  font-size: 47px;
  font-weight: 600;
}
.wishyou span{
  font-family: "Rubik Burned", system-ui;
font-size: 50px;
}
.budafoam span{
  font-family: "Rubik Burned", system-ui;
  font-size: 50px;
}
.wishyou p{
font-size: 30px;
}
.table{
  width: 60%;
  margin-left: 18%;
  margin-top: 5%;
}
.productprice{
  text-align: center;
  margin-top: 10%;
}
.locatei{
display: flex;
gap: 0.8rem;
justify-content: center;}
.locatei i{
  font-size: 29px;
}
.locatei p{
  font-size: 19px;
}
.categoryimg{
  text-align: center;
}
.categoryimg img{
width: 80%;
height: 70vh;
}
.locatesearch{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.sexybackground {
  position: relative;
  text-align: center;
  margin-top: 2%;
}
.liqstation{
  color: burlywood;
  opacity: 0.7;
  font-family: "Great Vibes", cursive;
}
.liqstation,
.liqstation2 {
  position: absolute;
  font-size: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.liqstation2 {
  z-index: 1;
  font-size: 38px;
}
.locatesearch{
  margin-top: 6%;
}
.mycardcontainer{
  background-color: yellow;
  width: 60%;
  /* flex: 0 0 auto;
  width: 50%; */
}
.bigpoppa{
  text-align: center;
margin-left: 10%;
margin-top: 3%;
}
.productscontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.productcontwrapper{
  flex: 0 0 23.3333%;
  box-sizing: border-box;
  padding: 5px;
  border:2px solid black;
}
.productimage img{
  width: 80%;
  height: 300px;
}

.productbody{
  text-align: center;
}
.backcategory{
  display: flex;
  gap: 9rem;
  align-items: center;
}
.searchcart{
  display: flex;
  gap: 2rem;
}
.backcategory i{
  font-size: 35px;
}

.searchyy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2rem;

/* margin-left: 33%; */
}
.searchyy__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #111111;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 41em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.searchyy__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.searchyy__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.searchyy__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #575757a4;
}

.searchyy__input:focus + .search__button {
  background-color: #f0eeee;
}

.searchyy__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.searchyy__button:hover {
  cursor: pointer;
}

.searchyy__icon {
  display: none;
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.productspageheader{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.productcategory{
  text-align: center;
}
.productcategory button{
  background-color: rgba(0, 0, 0, 0.894);
  margin-right: 12px;
  margin-bottom: 5%;
  margin-top: 3%;
}
.productcategory button a{
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: "Great Vibes", cursive;

}
.mycart i{
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.liqstation3{
  color: burlywood;
  opacity: 0.7;
  font-size: 60px;
  font-family: "Great Vibes", cursive;
}
.mycart h6{
  color: white;
}
.mycart p{
  font-size: 10px;
  margin-top: 35%;
  margin-left: -51%;
}
.productbody {
  margin-top: 13%; 
 }
  .productbody p{
    font-size: 15px;
  }
  .productbody h3{
    font-size: 22px;
  }
  
  .liqstation3{
    color: burlywood;
    opacity: 0.7;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
  }

  .liqstation3,
  .liqstation4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .liqstation4 {
    z-index: 1;
    font-size: 27px;
  }
  .sexybackgroundyy {
    position: relative;
    text-align: center;
    margin-top: 5%;
  }
  .singlecontainer-wrapper{
    margin-top: 8%;
    display: flex;
    justify-content: center;
  }
  .singlestory{
    width: 30%;
  }
  .singlestory p{
    font-size: 14px;
    letter-spacing: 1px;
  }
  .available{
    color:rgb(26, 222, 26);
  }
  .singlecontainer-wrapper img {
    height: 500px;
  }
  .relatedprodcontiner{
    display: flex;
    /* gap: 3rem; */
margin-top: 5%; 
justify-content: center;
 }
 .relatedprodcontiner {
  display: flex;
  /* flex-wrap: wrap; */
}

.relatedprod-wrapper {
  width: 50%;
  box-sizing: border-box; /* Optional: include padding and border in the width */
}
.relatedprod-wrapper img{
  height: 300px;
}
.relatedprod-wrapper {
  height: 300px;
}

.relatedcontainers h3{
  text-align: center;
  margin-top: 7%;
}
.addcart button{
  padding: 10px;
  background-color: inherit;
  border: 2px solid rgb(0, 0, 0);
  transition: 0.5sec;
  font-family: "Great Vibes", cursive;
}
.addcart span{
  font-size: 13px;
  letter-spacing: 4px;
}
.addcart .ordered{
color: black;
background-color: greenyellow;
font-family: "Great Vibes", cursive;
}
.mycart{
  display: flex;
}
.mycart h6{
  background-color: rgba(252,18,18,.827);
  border-radius: 10px;
  color: #000;
  margin-bottom: 40%;
  padding-left: 13%;
  padding-right: 17%;
  padding-top: 8%;
  margin-top: -20%;
}
.vcart{
  font-size: 10px;
}
.mycart a{
  text-decoration: none;
}
.mycart i{
  display: flex;
  font-size: 25px;
}
.addcart button:hover{
  background-color: rgb(68, 255, 0);
  border: 1px solid rgb(0, 0, 0);
}
.cartenimage{
  height: 100px;
  width: 200%;
}
.cartnip{
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.cartwrappper{
  /* width: 70%; */
border: 1px solid black;
border-radius: 15px;
}
.backcategory3 i{
  font-size: 35px;
  color: black;
}
.backcategory3{
  display: flex;
  align-items: center;
gap: 45rem;
margin-left: 10%;
margin-top: 3%;
}
.yoshipment{
  display: flex;
  gap: 8rem;
  font-size: 13px;
}
.yoshipment h5{
  font-size: 15px;
}
.findmewrapper button a{
  text-decoration: none;
  color: black;
}
.findmewrapper button{
  margin: 30px;
  background: none;
  border: 2px solid black;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  /* border-radius: 9999px; */
  /* box-shadow: inset 0px 1px 10px rgb(5, 5, 5); */
  cursor: pointer;
}
.findmewrapper{
  margin-top: 6%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.findmewrapper i{
  font-size: 30px;
}
.paymentmethod{
  display: block;
}
.orderwrapper{
  display: flex;
  justify-content: center;
gap: 1rem;
}
.joerogan{
  display: flex;
  margin-bottom: 10%;
  margin-top: 5%;
  justify-content: center;
  gap: 2rem;
}
.findme{
  margin-bottom: 8%;
  border: 1px solid black;
border-radius: 15px;
padding: 10px 20px 25px;
}
.ordersummary{
  width: 100%;
  border: 1px solid black;
border-radius: 15px;
padding: 10px 20px 30px;
}
.checkout1 a button{
  /* width: 140%; */
  color: rgb(255, 255, 255);
  background-color: black;
  border: none;
  /* border-radius: 20px; */
  padding: 8px;
  transition: 0.5s;
}
.checkout2 a button{
  /* width: 140%; */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  /* border-radius: 20px; */
  padding: 8px;
  transition: 0.5s;
}
.checkout1 a button:hover,
.checkout2 a button:hover{
  transform: translateY(-8%);
}
.proceed{
  text-align: center;
  margin-top: 5%;
}
.emptycart{
  display: flex;
  justify-content: center;
  padding-top: 18%;
  font-size: 55px;
}

.cartbtn4 {
  margin-left: 48%;

  --hover-shadows: 16px 16px 33px #121212,
                    -16px -16px 33px #303030;
  --accent: rgb(235, 219, 158);
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s,
              background-color ease-in-out 0.1s,
              letter-spacing ease-in-out 0.1s,
              transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c82,
              -13px -13px 10px #26262690;
 }
 
 .cartbtn4:hover {
  box-shadow: var(--hover-shadows);
 }
 
 .cartbtn4:active {
  box-shadow: var(--hover-shadows),
               var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
 }

.checkout{
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 25px;
}
.confirmcancel{
  margin-bottom: 13%;
  margin-top: 10%;
display: flex; 
/* margin: 50px; */
justify-content: center;
gap: 5rem;
}
.subtotal{
  margin-top: 10%;
  margin-bottom: 15%;
}
.subtotal span{
color: brown;}
/* .subtotal td{
  display: block;
  text-align: left;
  padding: 8px;
  width: 120%;
  border: 1px solid #dddddd;
} */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.input1 {
  width: 35%;
  margin: 10px;
  border: none;
  padding: 1rem;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 6px #c5c5c5,
     -2px -2px 6px #ffffff;
  transition: 0.3s;
 }
 
 .input1:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 }
 .checkoutcontainer{
  display: flex;
justify-content: center; }
 .form1{
  width: 100%;
  margin-right: -10%;
  margin-top: 2%;
 }
 #pheader{
  font-size: 12px;
  width: 100%;
 }
 /* .jamaica{
  margin-left: 20%;
  margin-top: 8%;
 } */
 .pppheader{
  width: 70%;
 }
 .cartbody2{
  width: 100%;
  display: flex;
  gap: 0.5rem;
 }
 .titlle{
  text-align: center;
  margin-left: 10%;
 }
 .price2{
  margin-left: 10%;
  color: brown;
 }
 .online{
  color: grey;
 }
 .card{
  width: 80%;
  display: flex;
 }
 .row-cols-md-3>*{
  width: 25.33333%;
  margin-left: 5%;
  margin-top: 5%;
 }
 .bigmanhuncho{
  display: flex;
 }
 .mkonamchezo{
  text-align:center;
  margin-left: 5%;
/* border: 2px solid yellowgreen; */
}
.mkonamchezo h3{
  margin-top: 6%;
}
.checkoutheader a{
  text-decoration: none;
  color: black;
  display: flex;
  gap: 0.5rem;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  transition: 0.3s ease-in-out;
}
.checkoutheader a i{
  font-size: 20px;
}
.checkoutheader a:hover{
color: brown;
}
.checkdesc{
  margin-left: 10%;
}
.checkdesc h3{
  font-size: 50px;
}
.confirm{
background-color: black;
color: white;
border: none;
padding: 10px 50px 10px 30px;
}
.confirm:hover,
.cancel:hover{
  transform: translateY(-8%);
}
.cancel{
  background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border: 1px solid black;
padding: 10px 50px 10px 30px;
}
.navlinkcart{
  display: flex;
}
.mobilenavbar{
  display: none;
}
.nav{
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 50px;
  box-shadow: 0 0 5px gray;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.999);
  overflow-x: auto;
  display: flex;
  margin: 20px;
}
.navlinks{
  padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-grow: 1;
min-width: 50px;
overflow: hidden;
white-space: nowrap;
font-size: 25px;
color: black;
text-decoration: none;
transition: background-color 0.1s ease-in-out;
}
.navlinks p{
  font-size: 13px;
  color: white;

}
.navlinks i{
color: white;
}
.navlinkcart h6{
  font-size: 12px;
  color: white;

}
.homecontentcontainer{
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 5%;
}
.homecontentcontainer a{
  color: inherit;
}
.homecontentcontainer button{
  padding: 10px;
  border: none;
}
.contenthome{
  line-height: 40px;
  width: 33%;
}
.shopwithuscontainer{
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 10%;
}
.homecontentimg2 img{
  width: 120%;
  height: 380px;
  transition: transform 0.3s ease;
}
.homecontentimg img{
  object-fit: cover;
  width: 112%;
  height: 380px;
  transition: transform 0.3s ease;
}
.homecontentimg2:hover img {
  transform: scale(1.1); /* Increase the scale on hover to achieve the magnifying effect */
}
.homecontentimg:hover img {
  transform: scale(1.1); /* Increase the scale on hover to achieve the magnifying effect */
}
.shopwithuscontainer {
  position: relative;
}

.homecontentimg2 {
  color: black;
  position: relative;
  overflow: hidden;
}
.homecontentimg {
  color: black;
  position: relative;
  overflow: hidden;
}
.homeimgtwo img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  opacity: 0.9;
}
.budafoam{
text-align: center;
  /* width: 120%; */
  color: white;
  background-color: rgb(0, 0, 0);
}
.insticnt{
  padding: 10px;
  background-color: rgb(0, 0, 0);
  display: flex;
justify-content: center;
gap: 8rem;
}
.insticnt button{
  padding: 10px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.689);  */
  padding: 20px; /* Adjust as needed */
  border-radius: 10px; /* Add some border-radius for styling */
  text-align: center;
  max-width: 80%; /* Adjust as needed */
}

.text-overlay h2 {
  font-size: 44px;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}
#shoppify{
  font-size: 44px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.text-overlay p {
  font-size: 16px;
  color: white;
  background-color: rgba(6, 6, 6, 0.689); 
padding: 20px;
border-radius: 10px;
}
























@media screen and (max-width: 700px) {
  .insticnt{
    padding: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
  justify-content: center;
  gap: 0rem;
  }
  .homecontentcontainer{
    display: block;
    gap: 5rem;
    justify-content: center;
    margin-top: 5%;
  }
  .text-overlay h2 {
    font-size: 35px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
  }
  #shoppify{
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10%;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
  
  .text-overlay p {
    font-size: 12px;
    color: white;
    background-color: rgba(6, 6, 6, 0.689); 
  padding: 14px;
  border-radius: 10px;
  }

  .wishyou h2{
    font-size: 20px;
    font-weight: 600;
  }
  .wishyou{
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.702);
    position: absolute;
    top: 38%; /* Position the text in the middle vertically */
    left: 44%; /* Position the text in the middle horizontally */
    transform: translate(-50%, -50%); /* Center the text precisely */
    text-align: center;
    color: white;
  }
 
  .jamaica{
    margin-left: 3%;
  }
  .ordersummary{
    width: 90%;
    border: 1px solid black;
  border-radius: 15px;
  padding: 10px 20px 30px;
  }
  .emptycart{
    display: flex;
    justify-content: center;
    padding-top: 18%;
    font-size: 25px;
  }
  
  .cartbtn4 {
    margin-left: 28%;
    font-size: 15px;
   }
   

  .checkout1 a button{
     width: 185%; 
  }
  .logoheader h2{
    font-size: 18px;
  }
  .callme i{
    font-size: 12px;
  }
  .contactus h5{
    font-size: 10px;
  }
  .contactus p{
    font-size: 8px;
  }
  .cartnip{
    padding: 25px;
    display: block;
    align-items: center;
    gap: 4rem;
  }
  .pppheader{
    width: 70%;
    font-size: 12px;
   }
  .cartwrappper{
    width: 90%;
  border: 1px solid black;
  border-radius: 15px;
  }
  .checkoutcontainer{
    margin-bottom: 20%;
  }
  .input1 {
    width: 45%;
    margin: 10px;
    border: none;
    padding: 1rem;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 5px 5px 6px #c5c5c5,
       -2px -2px 6px #ffffff;
    transition: 0.3s;
   }
  .bigmanhuncho{
    display: block;
   }
  .mobilenavbar{
    display:contents;
  }
  .cardcol img{
    width: 100%;
    height: 170px;
  }
  .cardcontainer{
    width: 200px;
    height: auto;
    border-radius: 30px;
   box-shadow: 5px 10px 13px #bebebe5f,
                 -10px -5px 30px #ffffff56;
  }
  .cartenimage{
    height:180px;
    width: 80%;
  }
  .mydustbin{
    text-align: end;
    margin-top: -10%;
  }
  .backcategory3{
    display: flex;
    align-items: center;
  gap: 12rem;
  margin-left: 10%;
  margin-top: 10%;
  }
  .joerogan{
    padding: 18px;
    margin-bottom: 50%;
  }
  
  .navigations{
    display: none;
  }
  .relattitle{
font-size: 20px;
  }
  .relatedprodcontiner{
    display: flex;
    gap: 0rem;
margin-top: 5%; 
justify-content: center;
 }
 .relatedprodcontiner {
  display: flex;
  flex-wrap: wrap;
}
  .relatedprod-wrapper img{
    height: 130px;
  }
  .relatedbody{
    font-size: 10px;
    width: 80%;
  }
  .singlestory h2{
    font-size: 23px;
  }
  .singlestory p{
    font-size: 12px;
    width: 89%;
  }
 
  .row-cols-md-3>*{
    width: 95.33333%;
    margin-left: 5%;
    margin-top: 5%;
   }
  .singlestory{
    width: 100%;
    padding: 20px;
  }
  .addcart{
    text-align: center;
  }
  .singlecontainer-wrapper img{
    height: 450px;
    text-align: center;
  }
  .singlecontainer-wrapper{
    margin-top: 8%;
    display: block;
    justify-content: center;
  }
  .liqstation3{
    color: burlywood;
    opacity: 0.7;
    font-size: 35px;
    font-family: "Great Vibes", cursive;
  }

  .liqstation4 {
    z-index: 1;
    font-size: 18px;
  }
  .productbody h3{
    font-size: 12px;
  }
  .productbody {
  margin-top: 13%; 
 }
  .productbody p{
    font-size: 11px;
  }
 
  .productimage img{
    width: 100%;
    height: 236px;
  }
  .productcontwrapper {
    flex: 0 0 50%; /* Display two cards in a row */
  }
  /* .backcategory h2{
    font-size: 14px;
  } */
  .backcategory i{
    font-size: 20px;
  }
  .backcategory{
    margin-bottom: 10%;
    display: flex;
    gap: 4rem;
    align-items: center;
  }
  #jambo {
    margin-top: -120%;
  }
  .mycart i{
    font-size: 22px;
    margin-top: 5%;
  }
  .mycart p{
    font-size: 8px;
  }
  .productspageheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }
  .homepage{
    background-color: burlywood;
    width: auto;
  }
  .categoryimg img{
    width: 100%;
    height: 70vh;
    }
    .mycardcontainer img{
      width: 100%;
    }
    .sexybackgroundyy{
      margin-top: 5%;
    }
    .sexybackground {
      position: relative;
      text-align: center;
      margin-top: 10%;
      margin-bottom: 10%;
    }
    .locatesearch{
      display: flex;
      /* justify-content: space-between; */
      padding: 10px;
      margin-top: 20%;
margin-bottom: 10%;
    }
    .locatesearch{
      display: flex;
      align-items: center;
      /* justify-content: center; */
      gap: 1rem;
      margin-right: 10%;
    }
    .locatei{
      display: flex;
      gap: 0.8rem;
      }
      .liqstation,
.liqstation2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.liqstation{
  color: burlywood;
  font-size: 40px;
  opacity: 0.9;
  font-family: "Great Vibes", cursive;
}
.liqstation2{
  font-size: 25px;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  width: 90%;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}
.aluta a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.wishyou  p{
  margin-top: 10%;
  font-size: 16px;
}
.wishyou  span{
  font-size: 40px;
}
.aluta{
  margin-top: 14%;
  justify-content: center;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 130px;
  transition: 0.5s ease-in-out;
}
.aluta:hover{
  background-color: black;
color: white;
border: 1px solid rgb(255, 255, 255);

}
.aluta a:hover{
  color: white;
}
.displaymycateg a{
  text-decoration: none;
  color: black;
  padding: 3px;
  }
 


}




@media screen and (max-width: 400px) {
  .cardcontainer2{
    width: 150px;
    height: auto;
    border-radius: 30px;
   box-shadow: 5px 10px 13px #bebebe5f,
                 -10px -5px 30px #ffffff56;
  }
 
  .displaycardcontainer2{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
.cardbodyoo h5,p{
  font-size: 12px;
}
.cardbodyoo {
padding: 10px;
}

  .cardcol2 img{
    width: 100%;
    height: 180px;
  }


  .viewcate button{
    margin-left: -50%;
  }
  .displaymycateg{
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 1rem;
  }
  .productbody p{
    font-size: 8px;
  }
  .productcategory button a{
    font-size: 18px;
    padding: 10px;
  }
 
  .navlinks{
    padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
  }
  .navlinks p{
    font-size: 10px;
  }
  .relatedprod-wrapper{
    height: 200px;
  }
  .relatedprod-wrapper img{
    height: 98px;
  }
  .addcart span{
    font-size: 10px;
  }
  .singlecontainer-wrapper img{
    height: 350px;
    text-align: center;
  }
  .cardcontainer{
    width: 150px;
    height: auto;
    border-radius: 30px;
   box-shadow: 5px 10px 13px #bebebe5f,
                 -10px -5px 30px #ffffff56;
  }
  .cardcol img{
    width: 100%;
    height: 140px;
  }
  .displaycardcontainer{
    display: flex;
    justify-content: center;
    gap: 0.9rem;
    flex-wrap: wrap;
  }
  .mkonamchezo{
    margin-left: 0;
  }
  .jamaica{
    margin-left: 5%;
    margin-top: 10%;
  }
  .confirmcancel{
    margin-bottom: 30%;
    margin-top: 10%;
  display: flex; 
  /* margin: 50px; */
  justify-content: center;
  gap: 2rem;
  }
  .confirm{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    }
    .confirm:hover,
    .cancel:hover{
      transform: translateY(-8%);
    }
    .cancel{
      background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 10px 20px 10px 30px;
    font-size: 12px;

    }
  .input1 {
    font-size: 13px;
    width: 43%;
    margin: 10px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 5px 5px 6px #c5c5c5,
       -2px -2px 6px #ffffff;
    transition: 0.3s;
   }
.checkdesc h3{
  font-size: 30px;
}
.checkdesc p{
  font-size: 13px;
}
.mkonamchezo h3{
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none; /* Prevents underlines from being drawn over glyphs */
  text-underline-offset: 5px;
}
.orderwrapper label{
  font-size: 12px;
}
.homepage{
  background-color: rgba(0, 0, 0, 0.912);
  color: white;
}
.subtotal span{
  font-size: 12px;
}
td{
  font-size: 12px;
}
.checkoutheader p{
  font-size: 12px;
}
.viewcate button{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
  padding:12px;
  background-color: rgba(255, 255, 255, 0.912);
  border: 1px solid;
  width: 120px;
  transition: 0.5s ease-in-out;
}

.viewcate button a{
  font-size: 12px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.newarrival{
  gap: 5rem;
}
.newarrival h2{
font-size: 18px;
}
.newarrival p{
  font-size: 10px;
  }






}

