@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400..900&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Hedvig+Letters+Serif:opsz@12..24&family=Lemon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display:wght@400..900&family=Rubik+Burned&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hedvig Letters Serif", serif;

}
.homepage{
  background-color: burlywood;
}
.homepage-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 1%;
}
.callme{
  display: flex;
gap: 0.5rem;
}
.contactus h5,.contactus p{
  font-size: 12px;
}
.navigations ul{
  display: flex;
  list-style: none;
}
.navigations ul a{
  text-decoration: none;
  /* padding: 15px; */
  margin-right: 10px;
  color: black;
}
.homeimgone img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
margin-left: 33%;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #111111;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 41em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #575757a4;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  display: none;
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.displaycategories{
  /* display: flex;
  justify-content: center; */
text-align: center
;  gap: 12rem;
margin-top: 1%;
}
.displaycategories .viewcate{
margin-left: 48%;
}
.displaycategories a{
color: black;
line-height: 12px;
}
.displaymycateg{
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 5rem;
}
.displaymycateg button{
  border-radius: 20px;
  padding: 14px;

} 
.displaymycateg a{
text-decoration: none;
color: black;
padding: 30px;
}
.categname h2{
  text-align: center;
  margin-top: 2%;
}
.newarrival{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  gap: 46rem;
}
.newarrivalcontainer{
margin-bottom: 4%;
margin-top: 4%;
}
.cardcontainer{
  width: 300px;
  height: auto;
  border-radius: 30px;
 box-shadow: 5px 10px 13px #bebebe5f,
               -10px -5px 30px #ffffff56;
}
.displaycardcontainer{
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.cardcol img{
  width: 100%;
  height: 300px;
}
.newarrivalcontainer{
  margin-top: 7%;
}
.cardbody{
  margin-left: 10%;
}
.displayvector img{
  width: 80%;
  height: 12vh;
}
.displayvector p{
 font-size: 12px;
 text-align: center;
}
.aluta a{
  text-decoration: none;
  color: black;
}
.aluta{
  margin-top: 10%;
  justify-content: center;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 150px;
  transition: 0.5s ease-in-out;
}
.aluta:hover{
  background-color: black;
color: white;
border: 1px solid rgb(255, 255, 255);

}
.aluta a:hover{
  color: white;
}

.viewcate button{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.912);
  border: 1px solid;
  width: 150px;
  transition: 0.5s ease-in-out;
}
.viewcate button:hover{
background-color: black;
color: white;
}
.viewcate button a{
  text-decoration: none;
  transition: 0.5s ease-in-out;

}
.viewcate button a:hover{
  color: white;
}
.homeimgtwo{
  position: relative;
  width: 100%; /* Set the width of the container to 100% */
}
.homeimgtwo img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  /* opacity: 0.9; */
}
.wishyou{
  position: absolute;
  top: 50%; /* Position the text in the middle vertically */
  left: 25%; /* Position the text in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the text precisely */
  text-align: center;
  color: white;
}
.wishyou h2{
  font-size: 42px;
}
.wishyou span{
  font-family: "Rubik Burned", system-ui;
font-size: 50px;
}
.wishyou p{
font-size: 30px;
}
.table{
  width: 60%;
  margin-left: 18%;
  margin-top: 5%;
}
.productprice{
  text-align: center;
  margin-top: 10%;
}
.locatei{
display: flex;
gap: 0.8rem;
justify-content: center;}
.locatei i{
  font-size: 29px;
}
.locatei p{
  font-size: 19px;
}
.categoryimg{
  text-align: center;
}
.categoryimg img{
width: 80%;
height: 70vh;
}
.locatesearch{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.sexybackground {
  position: relative;
  text-align: center;
  margin-top: 2%;
}
.liqstation{
  color: burlywood;
  opacity: 0.7;
  font-family: "Great Vibes", cursive;
}
.liqstation,
.liqstation2 {
  position: absolute;
  font-size: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.liqstation2 {
  z-index: 1;
  font-size: 38px;
}
.locatesearch{
  margin-top: 6%;
}
.mycardcontainer{
  background-color: yellow;
  width: 60%;
  /* flex: 0 0 auto;
  width: 50%; */
}
.bigpoppa{
  text-align: center;
margin-left: 10%;
margin-top: 3%;
}
.productscontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.productcontwrapper{
  flex: 0 0 23.3333%;
  box-sizing: border-box;
  padding: 5px;
  border:2px solid black;
}
.productimage img{
  width: 80%;
  height: 300px;
}

.productbody{
  text-align: center;
}
.backcategory{
  display: flex;
  gap: 9rem;
  align-items: center;
}
.searchcart{
  display: flex;
  gap: 2rem;
}
.backcategory i{
  font-size: 35px;
}
.searchyy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2rem;

/* margin-left: 33%; */
}
.searchyy__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #111111;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 41em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.searchyy__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.searchyy__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.searchyy__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #575757a4;
}

.searchyy__input:focus + .search__button {
  background-color: #f0eeee;
}

.searchyy__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.searchyy__button:hover {
  cursor: pointer;
}

.searchyy__icon {
  display: none;
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.productspageheader{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.mycart i{
  font-size: 30px;
  color: black;
}
.mycart p{
  font-size: 10px;
  margin-top: 35%;
  margin-left: -51%;
}
.productbody {
  margin-top: 13%; 
 }
  .productbody p{
    font-size: 15px;
  }
  .productbody h3{
    font-size: 22px;
  }
  
  .liqstation3{
    color: burlywood;
    opacity: 0.7;
    font-size: 60px;
    font-family: "Great Vibes", cursive;
  }

  .liqstation3,
  .liqstation4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .liqstation4 {
    z-index: 1;
    font-size: 35px;
  }
  .sexybackgroundyy {
    position: relative;
    text-align: center;
    margin-top: 2%;
  }
  .singlecontainer-wrapper{
    margin-top: 8%;
    display: flex;
    justify-content: center;
  }
  .singlestory{
    width: 30%;
  }
  .singlestory p{
    font-size: 14px;
    letter-spacing: 1px;

  }
  .singlecontainer-wrapper img {
    height: 500px;
  }
  .relatedprodcontiner{
    display: flex;
    gap: 3rem;
margin-top: 5%; 

 }
.relatedprod-wrapper img{
  height: 300px;
}
.relatedprod-wrapper {
  height: 300px;
}

.relatedcontainers h3{
  text-align: center;
  margin-top: 7%;
}
.addcart button{
  padding: 10px;
  background-color: inherit;
  border: 1px solid burlywood;
  transition: 0.5sec;
}
.addcart span{
  font-size: 13px;
  letter-spacing: 4px;
}
.addcart .ordered{
color: black;
background-color: greenyellow;
}
.mycart{
  display: flex;
}
.mycart h6{
  background-color: rgba(252,18,18,.827);
  border-radius: 10px;
  color: #000;
  margin-bottom: 40%;
  padding-left: 13%;
  padding-right: 17%;
  padding-top: 8%;
  margin-top: -20%;
}
.vcart{
  font-size: 10px;
}
.mycart a{
  text-decoration: none;
}
.mycart i{
  display: flex;
  font-size: 25px;
}
.addcart button:hover{
  background-color: burlywood;
  border: 1px solid rgb(0, 0, 0);
}
.cartenimage{
  height: 100px;
  width: 100%;
}
.cartnip{
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.cartwrappper{
border: 1px solid black;
border-radius: 15px;
}
.backcategory3 i{
  font-size: 50px;
}
.backcategory3{
  display: flex;
  align-items: center;
gap: 45rem;
margin-left: 10%;
margin-top: 3%;
}
.yoshipment{
  display: flex;
  gap: 15rem;
}
.findmewrapper button a{
  text-decoration: none;
  color: black;
}
.findmewrapper button{
  margin: 30px;
  background: none;
  border: 2px solid black;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  /* border-radius: 9999px; */
  /* box-shadow: inset 0px 1px 10px rgb(5, 5, 5); */
  cursor: pointer;
}
.findmewrapper{
  margin-top: 6%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.findmewrapper i{
  font-size: 30px;
}
.paymentmethod{
  display: block;
}
.joerogan{
  display: flex;
  margin-top: 5%;
  justify-content: center;
  gap: 2rem;
}
.findme{
  margin-bottom: 8%;
  border: 1px solid black;
border-radius: 15px;
padding: 10px 20px 25px;
}
.ordersummary{
  width: 20%;
  border: 1px solid black;
border-radius: 15px;
padding: 10px 20px 30px;
}
.checkout a button{
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: black;
  border: none;
  border-radius: 20px;
  padding: 8px;
}
.subtotal{
  margin-top: 10%;
  margin-bottom: 15%;
}
.subtotal span{
color: brown;}
/* .subtotal td{
  display: block;
  text-align: left;
  padding: 8px;
  width: 120%;
  border: 1px solid #dddddd;
} */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.input1 {
  width: 35%;
  margin: 10px;
  border: none;
  padding: 1rem;
  border-radius: 20px;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #c5c5c5,
     -2px -2px 6px #ffffff;
  transition: 0.3s;
 }
 
 .input1:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 }
























@media screen and (max-width: 500px) {
  .liqstation3{
    color: burlywood;
    opacity: 0.7;
    font-size: 35px;
    font-family: "Great Vibes", cursive;
  }

  .liqstation4 {
    z-index: 1;
    font-size: 18px;
  }
  .productbody h3{
    font-size: 12px;
  }
  .productbody {
  margin-top: 13%; 
 }
  .productbody p{
    font-size: 11px;
  }
 
  .productimage img{
    width: 100%;
    height: 236px;
  }
  .productcontwrapper {
    flex: 0 0 50%; /* Display two cards in a row */
  }
  /* .backcategory h2{
    font-size: 14px;
  } */
  .backcategory i{
    font-size: 20px;
  }
  .backcategory{
    margin-bottom: 10%;
    display: flex;
    gap: 4rem;
    align-items: center;
  }
  .mycart i{
    font-size: 22px;
    margin-top: 5%;
  }
  .mycart p{
    font-size: 8px;
  }
  .productspageheader{
    display: block;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }
  .homepage{
    background-color: burlywood;
    width: auto;
  }
  .categoryimg img{
    width: 100%;
    height: 70vh;
    }
    .mycardcontainer img{
      width: 100%;
    }
    .sexybackground {
      position: relative;
      text-align: center;
      margin-top: 10%;
    }
    .locatesearch{
      display: flex;
      /* justify-content: space-between; */
      padding: 10px;
      margin-top: 20%;
margin-bottom: 10%;
    }
    .locatesearch{
      display: flex;
      align-items: center;
      /* justify-content: center; */
      gap: 1rem;
      margin-right: 10%;
    }
    .locatei{
      display: flex;
      gap: 0.8rem;
      }
      .liqstation,
.liqstation2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.liqstation{
  color: burlywood;
  font-size: 40px;
  opacity: 0.9;
  font-family: "Great Vibes", cursive;
}
.liqstation2{
  font-size: 25px;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 15em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

}

